body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
nav > a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  text-align: center;
}
section#featured-property > p {
  text-align: center;
  width: 800px;
  margin: auto;
  padding: 15px;
}
section#details > div {
  float: left;
  background-color: red;
  width: 25%;
  text-align: center;
}